<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Nakatech - My Development place</title>
    <meta charset="utf-8"></meta>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
    <!-- css -->
    <link href="../../css/bootstrap.min.css"  rel="stylesheet"  th:href="@{/css/bootstrap.min.css}" media="screen"/> 
    <link href="../../css/style.css" rel="stylesheet" media="screen"/> 
	<link href="../../color/default.css" rel="stylesheet" media="screen"/> 
	<script src="../../js/modernizr.custom.js"></script>
  </head>
  <body>
  
    
	<div class="menu-area">
			<div id="dl-menu" class="dl-menuwrapper">
						<button class="dl-trigger">Open Menu</button>
						<ul class="dl-menu">
							<li>
								<a href="#intro">Home</a>
							</li>
							<li><a href="#about">About</a></li>
							<li><a href="#contact">Contact</a></li>
						</ul>
					</div><!-- /dl-menuwrapper -->
	</div>	

	  <!-- intro area -->	  
	  <div id="intro">
	  
			<div class="intro-text">
				<div class="container">
					<div class="row">
					
						
					<div class="col-md-12">
			
						<div class="brand">
							<h1><a href="index.html">NakaTech</a></h1>
							<div class="line-spacer"></div>
							<p><span>My Development place</span></p>
						</div>
					</div>
					</div>
				</div>
		 	</div>
			
	 </div>
	  

	  
	  <!-- About -->
	  <section id="about" class="home-section bg-white">
		<div class="container"> </div>
			  <div class="row">
				  <div class="col-md-offset-2 col-md-8">
					<div class="section-heading">
					 <h2>Sobre mim</h2>
					 <h3>Desenvolvedor Java e Python e entusiasta em eletrônica.</h3>
					</div>
				  </div>
			  </div>

		<div>
		
			<div class="col-xs-12 col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Python, boas práticas para return.</h3>
					</div>
					<div class="panel-body">
						<a href="/article/2021/pyReturn.html" class="thumbnail"> <img
							src="img/works/20210822/index.jpg" alt="" />
						</a>
					</div>
					<table class="table table-bordered">
						<tr>
							<td><i class="fa fa-calendar" aria-hidden="true"></i>
								22/08/2021
							</td>
						</tr>
					</table>
				</div>
			</div>
		
			<div class="col-xs-12 col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Python walrus.</h3>
					</div>
					<div class="panel-body">
						<a href="/article/2021/pyWalrus.html" class="thumbnail"> <img
							src="img/works/20210815/index.jpg" alt="" />
						</a>
					</div>
					<table class="table table-bordered">
						<tr>
							<td><i class="fa fa-calendar" aria-hidden="true"></i>
								15/08/2021
							</td>
						</tr>
					</table>
				</div>
			</div>
		
			<div class="col-xs-12 col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Python ChainMap.</h3>
					</div>
					<div class="panel-body">
						<a href="/article/2021/pyChainMap.html" class="thumbnail"> <img
							src="img/works/20210808/index.jpeg" alt="" />
						</a>
					</div>
					<table class="table table-bordered">
						<tr>
							<td><i class="fa fa-calendar" aria-hidden="true"></i>
								08/08/2021
							</td>
						</tr>
					</table>
				</div>
			</div>
		
			<div class="col-xs-12 col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Spring Webflux.</h3>
					</div>
					<div class="panel-body">
						<a href="/article/2021/webflux.html" class="thumbnail"> <img
							src="img/works/20210731/index.jpg" alt="" />
						</a>
					</div>
					<table class="table table-bordered">
						<tr>
							<td><i class="fa fa-calendar" aria-hidden="true"></i>
								31/07/2021
							</td>
						</tr>
					</table>
				</div>
			</div>
		
		   <div class="col-xs-12 col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Python TextBlob.</h3>
					</div>
					<div class="panel-body">
						<a href="/article/2021/pyTextBlob.html" class="thumbnail"> <img
							src="img/works/20210724/index.jpeg" alt="" />
						</a>
					</div>
					<table class="table table-bordered">
						<tr>
							<td><i class="fa fa-calendar" aria-hidden="true"></i>
								24/07/2021
							</td>
						</tr>
					</table>
				</div>
			</div>
		
			<div class="col-xs-12 col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Python FastAPI.</h3>
					</div>
					<div class="panel-body">
						<a href="/article/2021/pyFastApi.html" class="thumbnail"> <img
							src="img/works/20210717/index.jpg" alt="" />
						</a>
					</div>
					<table class="table table-bordered">
						<tr>
							<td><i class="fa fa-calendar" aria-hidden="true"></i>
								17/07/2021
							</td>
						</tr>
					</table>
				</div>
			</div>
		
			<div class="col-xs-12 col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Python counter.</h3>
					</div>
					<div class="panel-body">
						<a href="/article/2021/pyCounter.html" class="thumbnail"> <img
							src="img/works/20210709/index.jpg" alt="" />
						</a>
					</div>
					<table class="table table-bordered">
						<tr>
							<td><i class="fa fa-calendar" aria-hidden="true"></i>
								09/07/2021
							</td>
						</tr>
					</table>
				</div>
			</div>
		
			<div class="col-xs-12 col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Python namedTuple.</h3>
					</div>
					<div class="panel-body">
						<a href="/article/2021/pyNamedTuple.html" class="thumbnail"> <img
							src="img/works/20210703/index.jpeg" alt="" />
						</a>
					</div>
					<table class="table table-bordered">
						<tr>
							<td><i class="fa fa-calendar" aria-hidden="true"></i>
								03/07/2021
							</td>
						</tr>
					</table>
				</div>
			</div>
		
			<div class="col-xs-12 col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Python Arrow.</h3>
					</div>
					<div class="panel-body">
						<a href="/article/2021/pyArrow.html" class="thumbnail"> <img
							src="img/works/20210626/index.jpg" alt="" />
						</a>
					</div>
					<table class="table table-bordered">
						<tr>
							<td><i class="fa fa-calendar" aria-hidden="true"></i>
								26/06/2021
							</td>
						</tr>
					</table>
				</div>
			</div>
		
			<div class="col-xs-12 col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Python filter.</h3>
					</div>
					<div class="panel-body">
						<a href="/article/2021/pyFilter.html" class="thumbnail"> <img
							src="img/works/20210619/index.jpg" alt="" />
						</a>
					</div>
					<table class="table table-bordered">
						<tr>
							<td><i class="fa fa-calendar" aria-hidden="true"></i>
								19/06/2021
							</td>
						</tr>
					</table>
				</div>
			</div>
		
			<div class="col-xs-12 col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Python with.</h3>
					</div>
					<div class="panel-body">
						<a href="/article/2021/pyWith.html" class="thumbnail"> <img
							src="img/works/20210612/index.jpg" alt="" />
						</a>
					</div>
					<table class="table table-bordered">
						<tr>
							<td><i class="fa fa-calendar" aria-hidden="true"></i>
								12/06/2021
							</td>
						</tr>
					</table>
				</div>
			</div>
		
			<div class="col-xs-12 col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Gradle.</h3>
					</div>
					<div class="panel-body">
						<a href="/article/2021/gradle.html" class="thumbnail"> <img
							src="img/works/20210605/index.jpg" alt="" />
						</a>
					</div>
					<table class="table table-bordered">
						<tr>
							<td><i class="fa fa-calendar" aria-hidden="true"></i>
								05/06/2021
							</td>
						</tr>
					</table>
				</div>
			</div>
		
			<div class="col-xs-12 col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">cUrl.</h3>
					</div>
					<div class="panel-body">
						<a href="/article/2021/cUrl.html" class="thumbnail"> <img
							src="img/works/20210529/index.jpg" alt="" />
						</a>
					</div>
					<table class="table table-bordered">
						<tr>
							<td><i class="fa fa-calendar" aria-hidden="true"></i>
								29/05/2021
							</td>
						</tr>
					</table>
				</div>
			</div>
		
			<div class="col-xs-12 col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Utilizando VIM.</h3>
					</div>
					<div class="panel-body">
						<a href="/article/2021/vim.html" class="thumbnail"> <img
							src="img/works/20210522/index.jpg" alt="" />
						</a>
					</div>
					<table class="table table-bordered">
						<tr>
							<td><i class="fa fa-calendar" aria-hidden="true"></i>
								22/05/2021
							</td>
						</tr>
					</table>
				</div>
			</div>
		
			<div class="col-xs-12 col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Python Luigi.</h3>
					</div>
					<div class="panel-body">
						<a href="/article/2021/pyLuigi.html" class="thumbnail"> <img
							src="img/works/20210515/index.jpg" alt="" />
						</a>
					</div>
					<table class="table table-bordered">
						<tr>
							<td><i class="fa fa-calendar" aria-hidden="true"></i>
								15/05/2021
							</td>
						</tr>
					</table>
				</div>
			</div>
		
			<div class="col-xs-12 col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Python venv.</h3>
					</div>
					<div class="panel-body">
						<a href="/article/2021/pyVenv.html" class="thumbnail"> <img
							src="img/works/20210508/index.jpg" alt="" />
						</a>
					</div>
					<table class="table table-bordered">
						<tr>
							<td><i class="fa fa-calendar" aria-hidden="true"></i>
								08/05/2021
							</td>
						</tr>
					</table>
				</div>
			</div>
		
			<div class="col-xs-12 col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Python lxml.</h3>
					</div>
					<div class="panel-body">
						<a href="/article/2021/pythonLxml.html" class="thumbnail"> <img
							src="img/works/20210502/index.jpg" alt="" />
						</a>
					</div>
					<table class="table table-bordered">
						<tr>
							<td><i class="fa fa-calendar" aria-hidden="true"></i>
								02/05/2021
							</td>
						</tr>
					</table>
				</div>
			</div>
		
			<div class="col-xs-12 col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Java 16.</h3>
					</div>
					<div class="panel-body">
						<a href="/article/2021/java16.html" class="thumbnail"> <img
							src="img/works/20210424/index.jpg" alt="" />
						</a>
					</div>
					<table class="table table-bordered">
						<tr>
							<td><i class="fa fa-calendar" aria-hidden="true"></i>
								24/04/2021
							</td>
						</tr>
					</table>
				</div>
			</div>
		
			<div class="col-xs-12 col-md-4">

				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">O.O Java e Python.</h3>
					</div>
					<div class="panel-body">
						<a href="/article/2021/pyJava.html" class="thumbnail"> <img
							src="img/works/20210417/index.jpg" alt="" />
						</a>
					</div>
					<table class="table table-bordered">
						<tr>
							<td><i class="fa fa-calendar" aria-hidden="true"></i>
								17/04/2021</td>
						</tr>
					</table>
				</div>

			</div>
		
			<div class="col-xs-12 col-md-4">

				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Google Guava's Table.</h3>
					</div>
					<div class="panel-body">
						<a href="/article/2021/googleGuavaTable.html" class="thumbnail"> <img
							src="img/works/20210410/index.jpeg" alt="" />
						</a>
					</div>
					<table class="table table-bordered">
						<tr>
							<td><i class="fa fa-calendar" aria-hidden="true"></i>
								10/04/2021</td>
						</tr>
					</table>
				</div>

			</div>
		
			<div class="col-xs-12 col-md-4">

				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Apache Commons Validator.</h3>
					</div>
					<div class="panel-body">
						<a href="/article/2021/apacheValidator.html" class="thumbnail"> <img
							src="img/works/20210403/index.jpg" alt="" />
						</a>
					</div>
					<table class="table table-bordered">
						<tr>
							<td><i class="fa fa-calendar" aria-hidden="true"></i>
								03/04/2021</td>
						</tr>
					</table>
				</div>

			</div>
		
			<div class="col-xs-12 col-md-4">

				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Apache ArrayUtils.</h3>
					</div>
					<div class="panel-body">
						<a href="/article/2021/arrayUtils.html" class="thumbnail"> <img
							src="img/works/20210327/index.jpg" alt="" />
						</a>
					</div>
					<table class="table table-bordered">
						<tr>
							<td><i class="fa fa-calendar" aria-hidden="true"></i>
								27/03/2021</td>
						</tr>
					</table>
				</div>

			</div>
			
			
		
			<div class="col-xs-12 col-md-4">

				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Apache StringUtils.</h3>
					</div>
					<div class="panel-body">
						<a href="/article/2021/stringUtils.html" class="thumbnail"> <img
							src="img/works/20210320/index.jpg" alt="" />
						</a>
					</div>
					<table class="table table-bordered">
						<tr>
							<td><i class="fa fa-calendar" aria-hidden="true"></i>
								20/03/2021</td>
						</tr>
					</table>
				</div>

			</div>
		
			<div class="col-xs-12 col-md-4">

				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Crawler4j.</h3>
					</div>
					<div class="panel-body">
						<a href="/article/2021/crawler4j.html" class="thumbnail"> <img
							src="img/works/20210314/index.jpg" alt="" />
						</a>
					</div>
					<table class="table table-bordered">
						<tr>
							<td><i class="fa fa-calendar" aria-hidden="true"></i>
								14/03/2021</td>
						</tr>
					</table>
				</div>

			</div>
		
			<div class="col-xs-12 col-md-4">

				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Apache OpenNLP.</h3>
					</div>
					<div class="panel-body">
						<a href="/article/2021/apacheOpenNlp.html" class="thumbnail"> <img
							src="img/works/20210306/index.jpg" alt="" />
						</a>
					</div>
					<table class="table table-bordered">
						<tr>
							<td><i class="fa fa-calendar" aria-hidden="true"></i>
								06/03/2021</td>
						</tr>
					</table>
				</div>

			</div>
		
			<div class="col-xs-12 col-md-4">

				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">JustPy.</h3>
					</div>
					<div class="panel-body">
						<a href="/article/2021/justpy.html" class="thumbnail"> <img
							src="img/works/20210227/index.jpg" alt="" />
						</a>
					</div>
					<table class="table table-bordered">
						<tr>
							<td><i class="fa fa-calendar" aria-hidden="true"></i>
								27/02/2021</td>
						</tr>
					</table>
				</div>

			</div>
		
			<div class="col-xs-12 col-md-4">

				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Grpc.</h3>
					</div>
					<div class="panel-body">
						<a href="/article/2021/grpc.html" class="thumbnail"> <img
							src="img/works/20210221/index.jpg" alt="" />
						</a>
					</div>
					<table class="table table-bordered">
						<tr>
							<td><i class="fa fa-calendar" aria-hidden="true"></i>
								21/02/2021</td>
						</tr>
					</table>
				</div>

			</div>
		
			<div class="col-xs-12 col-md-4">

				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Python + Nameko.</h3>
					</div>
					<div class="panel-body">
						<a href="/article/2021/nameko.html" class="thumbnail"> <img
							src="img/works/20210213/index.jpg" alt="" />
						</a>
					</div>
					<table class="table table-bordered">
						<tr>
							<td><i class="fa fa-calendar" aria-hidden="true"></i>
								13/02/2021</td>
						</tr>
					</table>
				</div>

			</div>
		
			<div class="col-xs-12 col-md-4">

				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">If bom é if morto.</h3>
					</div>
					<div class="panel-body">
						<a href="/article/2021/conditionalIf.html" class="thumbnail"> <img
							src="img/works/20210207/index.jpg" alt="" />
						</a>
					</div>
					<table class="table table-bordered">
						<tr>
							<td><i class="fa fa-calendar" aria-hidden="true"></i>
								07/02/2021</td>
						</tr>
					</table>
				</div>

			</div>
		
		
		
			<div class="col-xs-12 col-md-4">

				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Python e SQLAlchemy.</h3>
					</div>
					<div class="panel-body">
						<a href="/article/2021/pythonSQLAlchemy.html" class="thumbnail"> <img
							src="img/works/20210131/index.jpeg" alt="" />
						</a>
					</div>
					<table class="table table-bordered">
						<tr>
							<td><i class="fa fa-calendar" aria-hidden="true"></i>
								31/01/2021</td>
						</tr>
					</table>
				</div>

			</div>

			<div class="col-xs-12 col-md-4">

				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Novidades Ubuntu 21.04.</h3>
					</div>
					<div class="panel-body">
						<a href="/article/2021/previewUbuntu21.html" class="thumbnail"> <img
							src="img/works/20210124/index.jpg" alt="" />
						</a>
					</div>
					<table class="table table-bordered">
						<tr>
							<td><i class="fa fa-calendar" aria-hidden="true"></i>
								24/01/2021</td>
						</tr>
					</table>
				</div>

			</div>

			<div class="col-xs-12 col-md-4">

				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Python NLTK.</h3>
					</div>
					<div class="panel-body">
						<a href="/article/2021/PythonNlkt.html" class="thumbnail"> <img
							src="img/works/20210117/index.jpeg" alt="" />
						</a>
					</div>
					<table class="table table-bordered">
						<tr>
							<td><i class="fa fa-calendar" aria-hidden="true"></i>
								17/01/2021</td>
						</tr>
					</table>
				</div>

			</div>

			<div class="col-xs-12 col-md-4">

				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Python e Sqlite3.</h3>
					</div>
					<div class="panel-body">
						<a href="/article/2021/pySqlite.html" class="thumbnail"> <img
							src="img/works/20210110/index.jpeg" alt="" />
						</a>
					</div>
					<table class="table table-bordered">
						<tr>
							<td><i class="fa fa-calendar" aria-hidden="true"></i>
								10/01/2021</td>
						</tr>
					</table>
				</div>

			</div>

			<div class="col-xs-12 col-md-4">

				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">5 linguagens de programação 2021.</h3>
					</div>
					<div class="panel-body">
						<a href="/article/2021/tendencia2021.html" class="thumbnail">
							<img src="img/works/20210101/index.jpeg" alt="" />
						</a>
					</div>
					<table class="table table-bordered">
						<tr>
							<td><i class="fa fa-calendar" aria-hidden="true"></i>
								01/01/2021</td>
						</tr>
					</table>
				</div>

			</div>

		</div>
	</section>
	  

	 <!-- Contact -->
	  <section id="contact" class="home-section bg-white">
	  	<div class="container">
			 
			 	<div class="col-xs-12" style="margin-bottom: 50px; margin-top: 30px">
					<h5>Artigos</h5>
					<a href="#" class="btn btn-link" role="button">&lt;&lt;&lt; Artigos Recentes</a>
					<a href="/lab?page=1" class="btn btn-link" role="button"> Artigos Antigos &gt;&gt;&gt; </a>
				</div>			
	  		
			             
				<div class="col-xs-12">
					<h5>We're on social networks</h5>
					<ul class="social-network">
						<li><a href="https://www.linkedin.com/in/shnakatni" target="_blank">
						<span class="fa-stack fa-2x">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
						</span></a>
						</li>
						
						<li><a href="https://twitter.com/shnakatani" target="_blank">
						<span class="fa-stack fa-2x">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
						</span></a>
						</li>
						
					</ul>
				</div>				
			

	  	</div>
	  </section>  

	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<p>Copyright &copy;2014 Mamba company. All rights reserved. By <a href="http://bootstraptaste.com">Bootstraptaste</a></p>
				</div>
			</div>		
		</div>	
	</footer>
	 
	 <!-- js -->
    <script src="../../js/jquery.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
	<script src="../../js/jquery.smooth-scroll.min.js"></script>
	<script src="../../js/jquery.dlmenu.js"></script>
	<script src="../../js/wow.min.js"></script>
	<script src="../../js/custom.js"></script>
  	</body>
</html>
