<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Nakatech - My Development place</title>
    <meta charset="utf-8"></meta>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
    <!-- css -->
    <link href="../../css/bootstrap.min.css"  rel="stylesheet"  th:href="@{/css/bootstrap.min.css}" media="screen"/> 
    <link href="../../css/style.css" rel="stylesheet" media="screen"/> 
	<link href="../../color/default.css" rel="stylesheet" media="screen"/> 
	<script src="../../js/modernizr.custom.js"></script>
  </head>
  <body>
  
    
	<div class="menu-area">
			<div id="dl-menu" class="dl-menuwrapper">
						<button class="dl-trigger">Open Menu</button>
						<ul class="dl-menu">
							<li>
								<a href="#intro">Home</a>
							</li>
							<li><a href="#about">About</a></li>
							<li><a href="#contact">Contact</a></li>
						</ul>
					</div><!-- /dl-menuwrapper -->
	</div>	

	  <!-- intro area -->	  
	  <div id="intro">
	  
			<div class="intro-text">
				<div class="container">
					<div class="row">
					
						
					<div class="col-md-12">
			
						<div class="brand">
							<h1><a href="index.html">NakaTech</a></h1>
							<div class="line-spacer"></div>
							<p><span>My Development place</span></p>
						</div>
					</div>
					</div>
				</div>
		 	</div>
			
	 </div>
	  

	  
	  <!-- About -->
	  <section id="about" class="home-section bg-white">
		<div class="container"> </div>
			  <div class="row">
				  <div class="col-md-offset-2 col-md-8">
					<div class="section-heading">
					 <h2>Sobre mim</h2>
					 <h3>Desenvolvedor Java e Python e entusiasta em eletrônica.</h3>
					</div>
				  </div>
			  </div>
			  
		<div>
		
			<div class="col-xs-12 col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Azure Sentinel.</h3>
					</div>
					<div class="panel-body">
						<a href="/article/2022/azureSentinel.html" class="thumbnail"> <img
							src="img/works/20220710/index.jpg" alt="" />
						</a>
					</div>
					<table class="table table-bordered">
						<tr>
							<td><i class="fa fa-calendar" aria-hidden="true"></i>
								10/07/2022
							</td>
						</tr>
					</table>
				</div>
			</div>
		
			<div class="col-xs-12 col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Microsoft Purview.</h3>
					</div>
					<div class="panel-body">
						<a href="/article/2022/microsoftPurview.html" class="thumbnail"> <img
							src="img/works/20220703/index.jpg" alt="" />
						</a>
					</div>
					<table class="table table-bordered">
						<tr>
							<td><i class="fa fa-calendar" aria-hidden="true"></i>
								03/07/2022
							</td>
						</tr>
					</table>
				</div>
			</div>
		
			<div class="col-xs-12 col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Gestão de acesso Azure.</h3>
					</div>
					<div class="panel-body">
						<a href="/article/2022/azureLifeCicle.html" class="thumbnail"> <img
							src="img/works/20220626/index.jpg" alt="" />
						</a>
					</div>
					<table class="table table-bordered">
						<tr>
							<td><i class="fa fa-calendar" aria-hidden="true"></i>
								26/06/2022
							</td>
						</tr>
					</table>
				</div>
			</div>
		
			<div class="col-xs-12 col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Recursos de Segurança Azure.</h3>
					</div>
					<div class="panel-body">
						<a href="/article/2022/azureSecurityResource.html" class="thumbnail"> <img
							src="img/works/20220619/index.jpg" alt="" />
						</a>
					</div>
					<table class="table table-bordered">
						<tr>
							<td><i class="fa fa-calendar" aria-hidden="true"></i>
								19/06/2022
							</td>
						</tr>
					</table>
				</div>
			</div>
		
			<div class="col-xs-12 col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Microsoft 365 Defender.</h3>
					</div>
					<div class="panel-body">
						<a href="/article/2022/microsoftDefender.html" class="thumbnail"> <img
							src="img/works/20220612/index.jpg" alt="" />
						</a>
					</div>
					<table class="table table-bordered">
						<tr>
							<td><i class="fa fa-calendar" aria-hidden="true"></i>
								12/06/2022
							</td>
						</tr>
					</table>
				</div>
			</div>
		
			<div class="col-xs-12 col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Controle de acesso Azure AD.</h3>
					</div>
					<div class="panel-body">
						<a href="/article/2022/azureADAccess.html" class="thumbnail"> <img
							src="img/works/20220603/index.jpg" alt="" />
						</a>
					</div>
					<table class="table table-bordered">
						<tr>
							<td><i class="fa fa-calendar" aria-hidden="true"></i>
								03/06/2022
							</td>
						</tr>
					</table>
				</div>
			</div>
		
			<div class="col-xs-12 col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Azure Active Directory.</h3>
					</div>
					<div class="panel-body">
						<a href="/article/2022/azureAD.html" class="thumbnail"> <img
							src="img/works/20220529/index.jpg" alt="" />
						</a>
					</div>
					<table class="table table-bordered">
						<tr>
							<td><i class="fa fa-calendar" aria-hidden="true"></i>
								29/05/2022
							</td>
						</tr>
					</table>
				</div>
			</div>
		
			<div class="col-xs-12 col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Azure SC-900.</h3>
					</div>
					<div class="panel-body">
						<a href="/article/2022/sc900.html" class="thumbnail"> <img
							src="img/works/20220522/index.jpg" alt="" />
						</a>
					</div>
					<table class="table table-bordered">
						<tr>
							<td><i class="fa fa-calendar" aria-hidden="true"></i>
								22/05/2022
							</td>
						</tr>
					</table>
				</div>
			</div>
		
			<div class="col-xs-12 col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Exp4J.</h3>
					</div>
					<div class="panel-body">
						<a href="/article/2022/exp4j.html" class="thumbnail"> <img
							src="img/works/20220514/index.jpeg" alt="" />
						</a>
					</div>
					<table class="table table-bordered">
						<tr>
							<td><i class="fa fa-calendar" aria-hidden="true"></i>
								14/05/2022
							</td>
						</tr>
					</table>
				</div>
			</div>
		
			<div class="col-xs-12 col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Python min/max.</h3>
					</div>
					<div class="panel-body">
						<a href="/article/2022/pythonMaxMin.html" class="thumbnail"> <img
							src="img/works/20220508/index.jpeg" alt="" />
						</a>
					</div>
					<table class="table table-bordered">
						<tr>
							<td><i class="fa fa-calendar" aria-hidden="true"></i>
								08/05/2022
							</td>
						</tr>
					</table>
				</div>
			</div>
		
			<div class="col-xs-12 col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Pandas join, merge e concat.</h3>
					</div>
					<div class="panel-body">
						<a href="/article/2022/pandas.html" class="thumbnail"> <img
							src="img/works/20220430/index.jpg" alt="" />
						</a>
					</div>
					<table class="table table-bordered">
						<tr>
							<td><i class="fa fa-calendar" aria-hidden="true"></i>
								30/04/2022
							</td>
						</tr>
					</table>
				</div>
			</div>
		
			<div class="col-xs-12 col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Python + Yaml.</h3>
					</div>
					<div class="panel-body">
						<a href="/article/2022/pythonYaml.html" class="thumbnail"> <img
							src="img/works/20220423/index.jpg" alt="" />
						</a>
					</div>
					<table class="table table-bordered">
						<tr>
							<td><i class="fa fa-calendar" aria-hidden="true"></i>
								23/04/2022
							</td>
						</tr>
					</table>
				</div>
			</div>
		
			<div class="col-xs-12 col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Spring vulnerabilidade.</h3>
					</div>
					<div class="panel-body">
						<a href="/article/2022/springVulnerability.html" class="thumbnail"> <img
							src="img/works/20220416/index.jpg" alt="" />
						</a>
					</div>
					<table class="table table-bordered">
						<tr>
							<td><i class="fa fa-calendar" aria-hidden="true"></i>
								16/04/2022
							</td>
						</tr>
					</table>
				</div>
			</div>
		
			<div class="col-xs-12 col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">YAML.</h3>
					</div>
					<div class="panel-body">
						<a href="/article/2022/yaml.html" class="thumbnail"> <img
							src="img/works/20220408/index.jpg" alt="" />
						</a>
					</div>
					<table class="table table-bordered">
						<tr>
							<td><i class="fa fa-calendar" aria-hidden="true"></i>
								08/04/2022
							</td>
						</tr>
					</table>
				</div>
			</div>
		
			<div class="col-xs-12 col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Python e Mysql.</h3>
					</div>
					<div class="panel-body">
						<a href="/article/2022/pythonMysql.html" class="thumbnail"> <img
							src="img/works/20220402/index.jpg" alt="" />
						</a>
					</div>
					<table class="table table-bordered">
						<tr>
							<td><i class="fa fa-calendar" aria-hidden="true"></i>
								02/04/2022
							</td>
						</tr>
					</table>
				</div>
			</div>
		
			<div class="col-xs-12 col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Java 18.</h3>
					</div>
					<div class="panel-body">
						<a href="/article/2022/java18.html" class="thumbnail"> <img
							src="img/works/20220327/index.jpg" alt="" />
						</a>
					</div>
					<table class="table table-bordered">
						<tr>
							<td><i class="fa fa-calendar" aria-hidden="true"></i>
								27/03/2022
							</td>
						</tr>
					</table>
				</div>
			</div>
		
			<div class="col-xs-12 col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Anatomia Python class.</h3>
					</div>
					<div class="panel-body">
						<a href="/article/2022/pythonClass.html" class="thumbnail"> <img
							src="img/works/20220319/index.jpeg" alt="" />
						</a>
					</div>
					<table class="table table-bordered">
						<tr>
							<td><i class="fa fa-calendar" aria-hidden="true"></i>
								19/03/2022
							</td>
						</tr>
					</table>
				</div>
			</div>
		
			<div class="col-xs-12 col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Praticando Python Counter.</h3>
					</div>
					<div class="panel-body">
						<a href="/article/2022/pythonCounter.html" class="thumbnail"> <img
							src="img/works/20220312/index.jpg" alt="" />
						</a>
					</div>
					<table class="table table-bordered">
						<tr>
							<td><i class="fa fa-calendar" aria-hidden="true"></i>
								12/03/2022
							</td>
						</tr>
					</table>
				</div>
			</div>
		
			<div class="col-xs-12 col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Python e debug terminal.</h3>
					</div>
					<div class="panel-body">
						<a href="/article/2022/pythonPdb.html" class="thumbnail"> <img
							src="img/works/20220305/index.jpg" alt="" />
						</a>
					</div>
					<table class="table table-bordered">
						<tr>
							<td><i class="fa fa-calendar" aria-hidden="true"></i>
								05/03/2022
							</td>
						</tr>
					</table>
				</div>
			</div>
		
			<div class="col-xs-12 col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Multi construtor Python.</h3>
					</div>
					<div class="panel-body">
						<a href="/article/2022/pythonConstructor.html" class="thumbnail"> <img
							src="img/works/20220226/index.jpg" alt="" />
						</a>
					</div>
					<table class="table table-bordered">
						<tr>
							<td><i class="fa fa-calendar" aria-hidden="true"></i>
								26/02/2022
							</td>
						</tr>
					</table>
				</div>
			</div>
		
			<div class="col-xs-12 col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Python any.</h3>
					</div>
					<div class="panel-body">
						<a href="/article/2022/pythonAny.html" class="thumbnail"> <img
							src="img/works/20220218/index.jpg" alt="" />
						</a>
					</div>
					<table class="table table-bordered">
						<tr>
							<td><i class="fa fa-calendar" aria-hidden="true"></i>
								18/02/2022
							</td>
						</tr>
					</table>
				</div>
			</div>
		
			<div class="col-xs-12 col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Python all.</h3>
					</div>
					<div class="panel-body">
						<a href="/article/2022/pythonAll.html" class="thumbnail"> <img
							src="img/works/20220212/index.jpg" alt="" />
						</a>
					</div>
					<table class="table table-bordered">
						<tr>
							<td><i class="fa fa-calendar" aria-hidden="true"></i>
								12/02/2022
							</td>
						</tr>
					</table>
				</div>
			</div>
		
			<div class="col-xs-12 col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Blockchain com Python.</h3>
					</div>
					<div class="panel-body">
						<a href="/article/2022/pythonBlockchain.html" class="thumbnail"> <img
							src="img/works/20220206/index.jpg" alt="" />
						</a>
					</div>
					<table class="table table-bordered">
						<tr>
							<td><i class="fa fa-calendar" aria-hidden="true"></i>
								06/02/2022
							</td>
						</tr>
					</table>
				</div>
			</div>
			
			<div class="col-xs-12 col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Verificando clima com Python.</h3>
					</div>
					<div class="panel-body">
						<a href="/article/2022/pythonWheather.html" class="thumbnail"> <img
							src="img/works/20220130/index.jpg" alt="" />
						</a>
					</div>
					<table class="table table-bordered">
						<tr>
							<td><i class="fa fa-calendar" aria-hidden="true"></i>
								30/01/2022
							</td>
						</tr>
					</table>
				</div>
			</div>
			
		
			<div class="col-xs-12 col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Python para 2022.</h3>
					</div>
					<div class="panel-body">
						<a href="/article/2022/whyPython.html" class="thumbnail"> <img
							src="img/works/20220123/index.jpg" alt="" />
						</a>
					</div>
					<table class="table table-bordered">
						<tr>
							<td><i class="fa fa-calendar" aria-hidden="true"></i>
								23/01/2022
							</td>
						</tr>
					</table>
				</div>
			</div>
		
			<div class="col-xs-12 col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Azure China.</h3>
					</div>
					<div class="panel-body">
						<a href="/article/2022/azureChina.html" class="thumbnail"> <img
							src="img/works/20220116/index.jpg" alt="" />
						</a>
					</div>
					<table class="table table-bordered">
						<tr>
							<td><i class="fa fa-calendar" aria-hidden="true"></i>
								16/01/2022
							</td>
						</tr>
					</table>
				</div>
			</div>
		
			<div class="col-xs-12 col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Gerenciando custos Azure.</h3>
					</div>
					<div class="panel-body">
						<a href="/article/2022/azureCostControl.html" class="thumbnail"> <img
							src="img/works/20220109/index.jpg" alt="" />
						</a>
					</div>
					<table class="table table-bordered">
						<tr>
							<td><i class="fa fa-calendar" aria-hidden="true"></i>
								09/01/2022
							</td>
						</tr>
					</table>
				</div>
			</div>
		
			<div class="col-xs-12 col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Controle de acesso Azure.</h3>
					</div>
					<div class="panel-body">
						<a href="/article/2022/azureControlAccess.html" class="thumbnail"> <img
							src="img/works/20220101/index.jpg" alt="" />
						</a>
					</div>
					<table class="table table-bordered">
						<tr>
							<td><i class="fa fa-calendar" aria-hidden="true"></i>
								01/01/2022
							</td>
						</tr>
					</table>
				</div>
			</div>
		
		</div>
	</section>
	  

	 <!-- Contact -->
	  <section id="contact" class="home-section bg-white">
	  	<div class="container">
			 
			 	<div class="col-xs-12" style="margin-bottom: 50px; margin-top: 30px">
					<h5>Artigos</h5>
					<a href="#" class="btn btn-link" role="button">&lt;&lt;&lt; Artigos Recentes</a>
					<a href="/lab?page=2" class="btn btn-link" role="button"> Artigos Antigos &gt;&gt;&gt; </a>
				</div>			
	  		
			             
				<div class="col-xs-12">
					<h5>We're on social networks</h5>
					<ul class="social-network">
						<li><a href="https://www.linkedin.com/in/shnakatni" target="_blank">
						<span class="fa-stack fa-2x">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
						</span></a>
						</li>
						
						<li><a href="https://twitter.com/shnakatani" target="_blank">
						<span class="fa-stack fa-2x">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
						</span></a>
						</li>
						
					</ul>
				</div>				
			

	  	</div>
	  </section>  

	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<p>Copyright &copy;2014 Mamba company. All rights reserved. By <a href="http://bootstraptaste.com">Bootstraptaste</a></p>
				</div>
			</div>		
		</div>	
	</footer>
	 
	 <!-- js -->
    <script src="../../js/jquery.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
	<script src="../../js/jquery.smooth-scroll.min.js"></script>
	<script src="../../js/jquery.dlmenu.js"></script>
	<script src="../../js/wow.min.js"></script>
	<script src="../../js/custom.js"></script>
  	</body>
</html>
